resources/*/log.html
resources/*/output.xml
resources/*/report.html
resources/*/selenium-screenshot*

test_suites/*/log.html
test_suites/*/output.xml
test_suites/*/report.html
test_suites/*/selenium-screenshot*
testing_demo.mp4